@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Luckiest+Guy|Anton|Poiret+One|Fjalla+One|Open+Sans:300|Josefin+Sans:100|Raleway:300|Roboto:300|BioRhyme|Black+Ops+One|Bungee|Wire+One|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900|Permanent+Marker|Pacifico')


.bg
  background: url('https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')
  background-size: cover
  background-attachment: fixed
  background-position: top center
  padding-top: 5%
  padding-bottom: 5%



@-webkit-keyframes scroll
  100%
    background-position: 0px -3000px


@-moz-keyframes scroll
  100%
    background-position: 0px -3000px


@-o-keyframes scroll
  100%
    background-position: 0px -3000px


@-ms-keyframes scroll
  100%
    background-position: 0px -3000px


@keyframes scroll
  100%
    background-position: 0px -3000px


.bg_2
  opacity: 1

.s-link
  background: transparent
  border-left: color(complement, normal, 0) solid $b-border-width
  color: rgba(0,0,0,1)
  font-family: $b-font-family
  font-size: $b-font-size
  //font-weight: $b-font-weight;
  margin-left: $b-margin-left
  text-decoration: none
  transition: $b-transition
  width: auto
  z-index: 6

  &:hover,
  &--active
    border-left: rgba(0,0,0,1) solid $b-border-width
    text-decoration: none
    color: rgba(0,0,0,1)
    padding-left: $b-txt-pad


#hola
  width: 100vw
  height: 100vh
  background-color: #252328
  position: fixed
  z-index: 999

#preloader
  position: relative
  width: 80px
  height: 80px
  top: 45%
  margin: 0 auto
  span
    position: absolute
    border: 8px solid #ffe066
    border-top: 8px solid transparent
    border-radius: 999px
    &:nth-child(1)
      width: 80px
      height: 80px
      animation: spin-1 2s infinite linear
    &:nth-child(2)
      top: 20px
      left: 20px
      width: 40px
      height: 40px
      animation: spin-2 1s infinite linear

@keyframes spin-1
  0%
    transform: rotate(360deg)
    opacity: 1

  50%
    transform: rotate(180deg)
    opacity: 0.5

  100%
    transform: rotate(0deg)
    opacity: 1


@keyframes spin-2
  0%
    transform: rotate(0deg)
    opacity: 0.5

  50%
    transform: rotate(180deg)
    opacity: 1

  100%
    transform: rotate(360deg)
    opacity: 0.5

.animate-border
  border: 40px solid #EDEBE6
  transition: border .5s .2s ease

#header.divide
  &:before, &:after
    transition: all 0.6s 1.2s cubic-bezier(0.645, 0.045, 0.355, 1)
    width: 0
