@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico|Luckiest+Guy|Anton|Poiret+One|Fjalla+One|Open+Sans:300|Josefin+Sans:100|Raleway:300|Roboto:300|BioRhyme|Black+Ops+One|Bungee|Wire+One|Bungee+Shade|Creepster|Ewert|Fruktur|Gravitas+One|Monoton|Rubik:900|Permanent+Marker|Pacifico')

body
  overflow: hidden


.bg
  background: url('https://images.unsplash.com/photo-1508796079212-a4b83cbf734d?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')
  background-size: cover
  background-attachment: fixed
  background-position: top center
  padding-top: 5%
  padding-bottom: 5%



@-webkit-keyframes scroll
  100%
    background-position: 0px -3000px


@-moz-keyframes scroll
  100%
    background-position: 0px -3000px


@-o-keyframes scroll
  100%
    background-position: 0px -3000px


@-ms-keyframes scroll
  100%
    background-position: 0px -3000px


@keyframes scroll
  100%
    background-position: 0px -3000px


.bg_2
  opacity: 1

.s-link
  background: transparent
  border-left: color(complement, normal, 0) solid $b-border-width
  color: rgba(0,0,0,1)
  font-family: $b-font-family
  font-size: $b-font-size
  //font-weight: $b-font-weight;
  margin-left: $b-margin-left
  text-decoration: none
  transition: $b-transition
  width: auto
  z-index: 6

  &:hover,
  &--active
    border-left: rgba(0,0,0,1) solid $b-border-width
    text-decoration: none
    color: rgba(0,0,0,1)
    padding-left: $b-txt-pad


/* Preloader

#preloader
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #eaecfa
  width: auto
  height: 100vh
    /* change if the mask should have another color then white
  z-index: 99
  /* makes sure it stays on top



.loader
  width: 250px
  height: 50px
  line-height: 50px
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
  font-family: helvetica, arial, sans-serif
  text-transform: uppercase
  font-weight: 900
  color: #ce4233
  letter-spacing: 0.2em

.loader::before, .loader::after
  content: ""
  display: block
  width: 15px
  height: 15px
  background: #ce4233
  position: absolute
  -webkit-animation: load .7s infinite alternate ease-in-out
          animation: load .7s infinite alternate ease-in-out

.loader::before
  top: 0

.loader::after
  bottom: 0


.loader
  width: 250px
  height: 50px
  line-height: 50px
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
  font-family: helvetica, arial, sans-serif
  text-transform: uppercase
  font-weight: 900
  color: #ce4233
  letter-spacing: 0.2em

.loader::before, .loader::after
  content: ""
  display: block
  width: 15px
  height: 15px
  background: #ce4233
  position: absolute
  -webkit-animation: load 0.7s infinite alternate ease-in-out
          animation: load 0.7s infinite alternate ease-in-out

.loader::before
  top: 0

.loader::after
  bottom: 0


@-webkit-keyframes load
  0%
    left: 0
    height: 30px
    width: 15px

  50%
    height: 8px
    width: 40px

  100%
    left: 235px
    height: 30px
    width: 15px



@keyframes load
  0%
    left: 0
    height: 30px
    width: 15px

  50%
    height: 8px
    width: 40px

  100%
    left: 235px
    height: 30px
    width: 15px


@keyframes load
  0%
    left: 0
    height: 30px
    width: 15px

  50%
    height: 8px
    width: 40px

  100%
    left: 235px
    height: 30px
    width: 15px
